<nav>
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo">Administration</a>
    </div>
</nav>


<div class="row">

    <form class="col s12">
        <div class="row">
            <div class="input-field col s11">
                <input id="inputLoginSearch" type="text" class="validate">
                <label for="inputLoginSearch">Login de l'utilisateur</label>
            </div>
            <div class="input-field col s1">
                <a class="btn blue" onclick="adminController.changeUserListDisplay()"><i class="material-icons">search</i></a>
            </div>
        </div>
    </form>

    <h2 id="titleUsers">Utilisateurs</h2>
    <div class="switch" id="switchSub">
        <label>
            Tous
            <input type="checkbox" id="checkSubAccount" onchange="adminController.changeUserListDisplay()">
            <span class="lever"></span>
            Abonné
        </label>
    </div>
    <br>
    <div class="collection" id="collectionUsers">
    </div>
    <p id="labelNoUsersFound" class="center-align grey-text text-darken-3" style="display: none"><em>Aucun utilisateur trouvés</em></p>
</div>

<div id="updateUserAdmin" class="modal">
    <div class="modal-content">

            <h4 class="red-text text-lighten-2">Utilisateur</h4>
            <br>
            <form>
                <div class="row">
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input id="inputLoginUpdateUserAdmin" type="text" class="validate">
                        <label for="inputLoginUpdateUserAdmin">Login</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="inputNameUpdateUserAdmin" type="text" class="validate">
                        <label for="inputNameUpdateUserAdmin">Nom d'utilisateur</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">accessibility</i>
                        <select multiple id="selectRoles">
                            <option value="USER" id="selectUser">Utilisateur</option>
                            <option value="ADMIN" id="selectAdmin">Administrateur</option>
                            <option value="SUB" id="selectSub">Abonné</option>
                        </select>
                    </div>
                    <div>
                        <a class="btn waves-effect waves-light blue darken-1" onclick="adminController.confirmSendEmail()"><i class="material-icons">email</i></a>
                        <label>Envoyer un e-mail de reinitialisation de mot de passe</label>
                    </div>
                    <div id="sendNotification">
                        <a class="btn waves-effect waves-light blue darken-1" onclick="adminController.showNotificationEdit()"><i class="material-icons">comment</i></a>
                        <label>Envoyer une notification</label>
                    </div>
                    <div class="switch" id="switchDiv">
                        <label>
                            Inactif
                            <input type="checkbox" id="checkActiveAccount">
                            <span class="lever"></span>
                            Actif
                        </label>
                    </div>
                </div>
            </form>
            <a class="font-custom btn green lighten-1" onclick="editController.updateUserAdmin()">Confirmer</a>
            <a class="font-custom btn red lighten-1 modal-close">Annuler</a>
    </div>
</div>


<div id="modalConfirmMailAdmin" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-lighten-2">Reinitialisation</h4>
        <p>Etes vous sûr de vouloir envoyer un e-mail de reinitialisation de mot de passe à <span id="spanSpendEmail"></span> ?</p>
        <div class="divider black"></div>
        <br>
        <a class="font-custom btn green lighten-1" onclick="editController.sendEmail()" id="btnSend">Confirmer</a>
        <a class="font-custom btn red lighten-1 modal-close">Annuler</a>
    </div>
</div>

<div id="modalSendNotificationAdmin" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-lighten-2">Notification</h4>
        <div class="divider"></div>
        <div class="section">
            <label for="labelLoginNotification">Envoyer à :</label>
            <p id="labelLoginNotification"></p>
        </div>
        <div class="section">
            <label for="inputTitleNotification">Titre : </label>
            <input id="inputTitleNotification" type="text" class="validate">
        </div>

        <div class="section">
            <label for="inputMessageNotification">Message : </label>
            <textarea id="inputMessageNotification" class="materialize-textarea"></textarea>
        </div>
        <a class="font-custom btn green lighten-1" onclick="editController.sendNotification()">Envoyer</a>
        <a class="font-custom btn red lighten-1 modal-close">Annuler</a>
    </div>
</div>