<nav>
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo"><i class="material-icons">navigate_before</i>Historique des listes</a>
    </div>
</nav>

<div id="historyList" class="valign-wrapper">
</div>

<div id="validateRemoveList" class="modal">
    <div class="modal-content">
        <p>Etes vous sur de vouloir supprimer l'article ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-close waves-effect waves-green btn-flat teal lighten-5" onclick="">Confirmer</button>
        <button type="button" class="modal-close waves-effect waves-green btn-flat red lighten-5" onclick="">Annuler</button>
    </div>
</div>