<nav>
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo">Historique des listes</a>
        <ul id="nav-old" class="right hide-on-med-and-down">
            <li><a href="#" class="modal-trigger">Mes listes</a></li>
        </ul>
    </div>
</nav>

<div id="historyList" class="valign-wrapper">
</div>

<div id="validateRemoveList" class="modal">
    <div class="modal-content">
        <p>Etes vous sur de vouloir supprimer l'article ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-close waves-effect waves-green btn-flat teal lighten-5" onclick="">Confirmer</button>
        <button type="button" class="modal-close waves-effect waves-green btn-flat red lighten-5" onclick="">Annuler</button>
    </div>
</div>