<table id="tableAllList" class="striped centered">
    <thead>
    <tr>
        <th>Magasin</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody id="tableBodyAllList">
    </tbody>
</table>

<div id="formEditCar">
    <div class="row">
        <form class="col s9">
            <div class="input-field col s1">
                <a class="btn-floating btn-large waves-effect waves-light teal" onclick="editController.saveList()"><i class="material-icons">add</i></a>
            </div>
            <div class="input-field col s3">
                <input id="inputShopList" type="text" class="validate">
                <label for="inputShopList">Magasin</label>
            </div>
            <div class="input-field col s3">
                <input id="inputDateList" type="date" class="validate">
                <label for="inputDateList">Date</label>
            </div>
        </form>
    </div>
</div>