<nav xmlns="http://www.w3.org/1999/html">
    <div class="nav-wrapper">
        <a id="itemTitle" class="brand-logo">Listes de course</a>
        <ul id="nav-deconexion" class="right hide-on-med-and-down">
            <li><a onclick="loginController.deconnexion()" class="modal-trigger">Deconnexion</a></li>
        </ul>
        <ul id="nav-history" class="right hide-on-med-and-down">
            <li><a onclick="indexController.showHistory()" class="modal-trigger">Historique</a></li>
        </ul>
        <ul id="nav-profil" class="right hide-on-med-and-down">
            <li><a onclick="indexController.showProfil()" class="modal-trigger">Profil</a></li>
        </ul>
        <ul id="nav-admin" class="right hide-on-med-and-down" style="display:none;">
            <li><a onclick="indexController.showAdmin()" class="modal-trigger">Administration</a></li>
        </ul>
    </div>
</nav>

<div class="row col s12">
    <div id="divMyList" class="col s6">
        <h1 class="center-align">Mes listes</h1>
            <table id="tableAllList" class="striped centered">
                <thead>
                <tr>
                    <th>Magasin</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody id="tableBodyAllList">
                </tbody>
            </table>

        <a id="btnAddList" class="waves-effect waves-light btn col s4 offset-s4" onclick="indexController.showForm()">Nouvelle liste</a>
        <div id="form">
            <div id="formEditList" style="display: none">
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s4">
                            <input id="inputShopList" type="text" class="validate">
                            <label for="inputShopList">Magasin</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="inputDateList" type="date" class="validate">
                            <label for="inputDateList">Date</label>
                        </div>
                        <div class="input-field col s2">
                            <a class="btn-floating btn-large waves-effect waves-light teal" onclick="editController.saveList()"><i class="material-icons right">check</i></a>
                        </div>
                        <div class="input-field col s2">
                            <a class="btn-floating btn-large waves-effect waves-light teal" onclick="indexController.closeForms()"><i class="material-icons right">clear</i></a>
                        </div>
                    </form>
                </div>
            </div>

            <div id="formUpdateList" style="display: none">
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s4">
                            <input id="inputUpdateShop" type="text" class="validate">
                            <label for="inputUpdateShop">Magasin</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="inputUpdateDate" type="date" class="validate">
                            <label for="inputUpdateDate">Date</label>
                        </div>
                        <div class="input-field col s2">
                            <a class="btn-floating btn-large waves-effect waves-light teal" onclick="editController.updateList()"><i class="material-icons right">check</i></a>
                        </div>
                        <div class="input-field col s2">
                            <a class="btn-floating btn-large waves-effect waves-light teal" onclick="indexController.closeForms()"><i class="material-icons right">clear</i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="divShareList" class="col s6">
        <h1 class="center-align">Listes partagées</h1>

        <table id="tableAllListShare" class="striped centered">
            <thead>
            <tr>
                <th>Magasin</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody id="tableBodyAllListShare">
            </tbody>
        </table>

        <div id="formUpdateShareList" style="display: none">
            <div class="row">
                <form class="col s12">
                    <div class="input-field col s4">
                        <input id="inputUpdateShareShop" type="text" class="validate">
                        <label for="inputUpdateShareShop">Magasin</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="inputUpdateShareDate" type="date" class="validate">
                        <label for="inputUpdateShareDate">Date</label>
                    </div>
                    <div class="input-field col s2">
                        <a class="btn-floating btn-large waves-effect waves-light teal" onclick="editController.updateShareList()"><i class="material-icons right">check</i></a>
                    </div>
                    <div class="input-field col s2">
                        <a class="btn-floating btn-large waves-effect waves-light teal" onclick="indexController.closeShareForm()"><i class="material-icons right">clear</i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a class="btn-large pulse" id="buttonNumberNotifications" style="display: none" onclick="indexController.showNotifications()"><i class="material-icons">comment</i><span id="spanNumberNotifications"></span></a>

<div id="formShareList" class="modal">
    <div class="modal-content">
        <h4>Partage</h4>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s11">
                        <input id="inputLoginShare" type="text" class="validate">
                        <label for="inputLoginShare">Login de l'utilisateur</label>
                    </div>
                    <div class="input-field col s1">
                        <a class="btn" onclick="editController.displayAvailableLogin()"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <p class="red-text" id="loginNotFound" style="display: none">*Veuillez entrer un login existant</p>
                <label>Liste utilisateurs</label>
                <select class="browser-default col s12" id="userList" disabled>
                </select>
                <p>
                    <label>
                        <input id="modificationState" type="checkbox" />
                        <span>Activer la modification</span>
                    </label>
                </p>
            </form>
    </div>
    <div class="modal-footer ">
        <button type="button" class="waves-effect waves-green btn-flat teal lighten-5" onclick="shareController.shareList()">Partager</button>
        <button type="button" class="modal-close waves-effect waves-green btn-flat red lighten-5" onclick="">Annuler</button>
    </div>
</div>

<div class="modal card" id="modalNotification">
    <div class="card-content">
        <span class="card-title" id="cardTitle"></span>
        <p id="cardMessage"></p>
        <p class="grey-text" id="cardDate"><small>reçue le : </small></p>
    </div>
    <div class="card-action" id="cardActions">
        <label>
            <input type="checkbox" class="filled-in" onchange="indexController.removeNotification()" id="checkReadNotification"/>
            <span>Ne plus afficher</span>
        </label>
        <a onclick="indexController.nextNotification()" class="btn-flat right" id="btnNotificationNext"><i class="material-icons">chevron_right</i></a>
        <a onclick="indexController.previousNotification()" class="btn-flat disabled right" id="btnNotificationPrevious"><i class="material-icons">chevron_left</i></a>
    </div>
</div>