<nav xmlns="http://www.w3.org/1999/html">
    <div class="nav-wrapper">
        <a id="itemTitle" class="brand-logo">Listes de course</a>
        <ul id="nav-deconexion" class="right hide-on-med-and-down">
            <li><a onclick="loginController.deconnexion()" class="modal-trigger">Deconnexion</a></li>
        </ul>
        <ul id="nav-history" class="right hide-on-med-and-down">
            <li><a onclick="indexController.showHistory()" class="modal-trigger">Historique</a></li>
        </ul>
        <ul id="nav-profil" class="right hide-on-med-and-down">
            <li><a onclick="indexController.showProfil()" class="modal-trigger">Profil</a></li>
        </ul>
        <ul id="nav-admin" class="right hide-on-med-and-down" style="display:none;">
            <li><a onclick="indexController.showAdmin()" class="modal-trigger">Administration</a></li>
        </ul>
    </div>
</nav>

<div class="row col s12" id="contentLists">
    <div id="divList" class="col s6">
        <h1 id="titleList" class="center-align">Mes listes</h1>
        <h4 class="center-align red-text text-darken-3" id="titleNoList" style="display: none">Aucune liste en cours</h4>
        <div id="divMyList" style="display: none">
                <table id="tableAllList" class="striped centered">
                    <tbody id="tableBodyAllList">
                    </tbody>
                </table>
        </div>
        <div>
            <a id="btnAddList" class="waves-effect waves-light btn col s4 offset-s4 light-blue darken-2" onclick="indexController.showForm()">Nouvelle liste</a>
            <div id="form">
                <div id="formEditList" style="display: none">
                    <div class="row">
                        <form class="col s12">
                            <div class="input-field col s4">
                                <input id="inputShopList" type="text" class="validate">
                                <label for="inputShopList"  class="">Magasin</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="inputDateList" type="date" class="validate">
                                <label for="inputDateList">Date</label>
                            </div>
                            <div class="input-field col s1">
                                <a class="btn-floating btn-large waves-effect waves-light green lighten-2" onclick="editController.saveList()"><i class="material-icons right">check</i></a>
                            </div>
                            <div class="input-field col s1">
                                <a class="btn-floating btn-large waves-effect waves-light red lighten-2" onclick="indexController.closeForms()"><i class="material-icons right">clear</i></a>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="formUpdateList" style="display: none">
                    <div class="row">
                        <form class="col s12">
                            <div class="input-field col s4">
                                <input id="inputUpdateShop" type="text" class="validate">
                                <label for="inputUpdateShop">Magasin</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="inputUpdateDate" type="date" class="validate">
                                <label for="inputUpdateDate">Date</label>
                            </div>
                            <div class="input-field col s1">
                                <a class="btn-floating btn-large waves-effect waves-light green lighten-2" onclick="editController.updateList()"><i class="material-icons right">check</i></a>
                            </div>
                            <div class="input-field col s1">
                                <a class="btn-floating btn-large waves-effect waves-light red lighten-2" onclick="indexController.closeForms()"><i class="material-icons right">clear</i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider black" id="divider"></div>

    <div id="divShareList" class="col s6">
        <h1 class="center-align">Listes partagées</h1>
        <h4 class="center-align red-text text-darken-3" id="titleNoShareList" style="display: none">Aucune liste partagée</h4>

        <div id="divListShare" style="display: none">
            <table id="tableAllListShare" class="striped centered">
                <tbody id="tableBodyAllListShare">
                </tbody>
            </table>
        </div>
        <div id="formUpdateShareList" style="display: none">
            <div class="row">
                <form class="col s12">
                    <div class="input-field col s4">
                        <input id="inputUpdateShareShop" type="text" class="validate">
                        <label for="inputUpdateShareShop">Magasin</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="inputUpdateShareDate" type="date" class="validate">
                        <label for="inputUpdateShareDate">Date</label>
                    </div>
                    <div class="input-field col s1">
                        <a class="btn-floating btn-large waves-effect waves-light green lighten-2" onclick="editController.updateShareList()"><i class="material-icons right">check</i></a>
                    </div>
                    <div class="input-field col s1">
                        <a class="btn-floating btn-large waves-effect waves-light red lighten-2" onclick="indexController.closeShareForm()"><i class="material-icons right">clear</i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a class="btn-large pulse" id="buttonNumberNotifications" style="display: none" onclick="indexController.showNotifications()"><i class="material-icons">comment</i><span id="spanNumberNotifications"></span></a>

<div id="formShareList" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-lighten-2">Partage</h4>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s11">
                        <input id="inputLoginShare" type="text" class="validate">
                        <label for="inputLoginShare">Login de l'utilisateur</label>
                    </div>
                    <div class="input-field col s1">
                        <a class="btn blue" onclick="editController.displayAvailableLogin()"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <p class="red-text" id="loginNotFound" style="display: none">*Veuillez entrer un login existant</p>
                <label>Liste utilisateurs</label>
                <select class="browser-default col s12" style="background-color: #e5ddcd;" id="userList" disabled>
                </select>
                <p>
                    <label>
                        <input id="modificationState" type="checkbox" />
                        <span>Activer la modification</span>
                    </label>
                </p>
            </form>
        <a class="font-custom btn green lighten-1" onclick="shareController.shareList()">Partager</a>
        <a class="font-custom btn red lighten-1 modal-close">Annuler</a>
    </div>
</div>

<div class="modal card" id="modalNotification">
    <div class="card-content">
        <span class="card-title red-text text-lighten-2 font-custom" id="cardTitle"></span>
        <div class="divider black"></div>
        <br>
        <p id="cardMessage"></p>
        <br>
        <p class="grey-text" id="cardDate"><small>reçue le : </small></p>
    </div>
    <div class="card-action" id="cardActions">
        <label>
            <input type="checkbox" class="filled-in" onchange="indexController.removeNotification()" id="checkReadNotification"/>
            <span>Ne plus afficher</span>
        </label>
        <a onclick="indexController.nextNotification()" class="btn-flat right" id="btnNotificationNext"><i class="material-icons">chevron_right</i></a>
        <a onclick="indexController.previousNotification()" class="btn-flat disabled right" id="btnNotificationPrevious"><i class="material-icons">chevron_left</i></a>
    </div>
</div>