<nav>
    <div class="nav-wrapper">
        <a href="index.html" id="itemTitle" class="brand-logo"></a>
        <a id="itemDisplayName" class="brand-logo center"></a>
        <ul class="right hide-on-med-and-down">
            <li><a id="nav-end" onclick="indexController.displayConfirmArchive(indexController.listId)" class="modal-trigger">Terminer la liste</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a id="nav-add" onclick="itemController.newItem()" class="modal-trigger">Ajouter ingrédient</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="shareController.displayShareList()" class="modal-trigger">Voir les partages</a></li>
        </ul>
    </div>
</nav>

<div id="listContent">
    <h4 class="center-align red-text text-darken-3" id="titleNoItem" style="display: none">Liste vide</h4>
    <table id="itemTable" class="striped centered">
        <thead id="headItem">
            <tr>
                <td class="center-align font-custom light-blue-text text-darken-2">
                    Acheté
                </td>
                <td class="center-align font-custom light-blue-text text-darken-2">
                    Produit
                </td>
                <td class="center-align font-custom light-blue-text text-darken-2">
                    Quantité
                </td>
                <td class="center-align font-custom light-blue-text text-darken-2">
                    Supprimer
                </td>
                <td class="center-align font-custom light-blue-text text-darken-2">
                    Modifier
                </td>
            </tr>
        </thead>
        <tbody id="itemBodyTable">
        </tbody>
    </table>
</div>

<div id="addItem" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-lighten-2">Ajouter</h4>
        <div class="row">
            <form>
                <div class="row">
                    <div class="input-field">
                        <input id="inputLabelItem" type="text" class="validate">
                        <label for="inputLabelItem">Nom de l'ingredient</label>
                    </div>
                    <div class="input-field">
                        <input id="inputQuantityItem" type="number" min="1" class="validate">
                        <label for="inputQuantityItem">Nombres d'ingredients</label>
                    </div>
                </div>
            </form>
            <a class="font-custom btn green lighten-1" onclick="editController.saveItem()">Ajouter</a>
            <a class="font-custom btn red lighten-1 modal-close">Annuler</a>
        </div>
    </div>
</div>

<div id="updateItem" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-lighten-2">Modifier</h4>
        <div class="row">
            <form>
                <div class="row">
                    <div class="input-field">
                        <input id="inputLabelUpdateItem" type="text" class="validate">
                        <label for="inputLabelUpdateItem">Nom de l'ingredient</label>
                    </div>
                    <div class="input-field">
                        <input id="inputQuantityUpdateItem" type="number" min="1" class="validate">
                        <label for="inputQuantityUpdateItem">Nombres d'ingredients</label>
                    </div>
                </div>
            </form>
            <a class="font-custom btn green lighten-1" onclick="editController.updateItem()">Modifier</a>
            <a class="font-custom btn red lighten-1 modal-close">Annuler</a>
        </div>
    </div>
</div>

<div id="modalListShare" class="modal">
    <div class="modal-content">
        <h4 class="red-text text-lighten-2">Partages</h4>
        <p id="labelShare" style="display: none">Cette liste est partagé avec :</p>
        <p id="labelNoShare">Cette liste n'est partagé avec aucun utilisateur</p>
        <table id="shareTable" class="striped centered" style="display: none; margin: 10px;">
            <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>mail</th>
                <th>Modification</th>
            </tr>
            </thead>
            <tbody id="shareBodyTable">
            </tbody>
        </table>
        <a class="font-custom modal-close btn green lighten-1" id="btnShare">Ok</a>
    </div>
</div>