<nav>
    <div class="nav-wrapper">
        <a href="#" id="itemTitle" class="brand-logo"></a>
        <a id="itemDisplayName" class="brand-logo center"></a>
        <ul class="right hide-on-med-and-down">
            <li><a id="nav-end" onclick="indexController.displayConfirmArchive(indexController.listId)" class="modal-trigger">Terminer la liste</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a id="nav-add" onclick="itemController.newItem()" class="modal-trigger">Ajouter ingrédient</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a onclick="shareController.displayShareList()" class="modal-trigger">Voir les partages</a></li>
        </ul>
    </div>
</nav>

<div id="listContent">
    <table id="itemTable" class="striped centered">
        <thead>
        <tr>
            <th>Acheté</th>
            <th>Ingrédients</th>
            <th>Quantité</th>
        </tr>
        </thead>
        <tbody id="itemBodyTable">
        </tbody>
    </table>
</div>

<div id="addItem" class="modal">
    <div class="modal-content">
        <div class="row">
            <form>
                <div class="row">
                    <div class="input-field">
                        <input id="inputLabelItem" type="text" class="validate">
                        <label for="inputLabelItem">Nom de l'ingredient</label>
                    </div>
                    <div class="input-field">
                        <input id="inputQuantityItem" type="number" min="1" class="validate">
                        <label for="inputQuantityItem">Nombres d'ingredients</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="waves-effect waves-green btn-flat teal lighten-5" onclick="editController.saveItem()">Confirmer</button>
        <button type="button" class="modal-close waves-effect waves-green btn-flat red lighten-5" onclick="">Annuler</button>
    </div>
</div>

<div id="updateItem" class="modal">
    <div class="modal-content">
        <div class="row">
            <form>
                <div class="row">
                    <div class="input-field">
                        <input id="inputLabelUpdateItem" type="text" class="validate">
                        <label for="inputLabelUpdateItem">Nom de l'ingredient</label>
                    </div>
                    <div class="input-field">
                        <input id="inputQuantityUpdateItem" type="number" min="1" class="validate">
                        <label for="inputQuantityUpdateItem">Nombres d'ingredients</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="waves-effect waves-green btn-flat teal lighten-5" onclick="editController.updateItem()">Confirmer</button>
        <button type="button" class="modal-close waves-effect waves-green btn-flat red lighten-5" onclick="">Annuler</button>
    </div>
</div>

<div id="modalListShare" class="modal">
    <div class="modal-content">
        <h1 class="center">Partages</h1>
        <p id="labelShare" style="display: none">Cette liste est partagé avec :</p>
        <p id="labelNoShare">Cette liste n'est partagé avec aucun utilisateur</p>
        <table id="shareTable" class="striped centered" style="display: none">
            <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>mail</th>
                <th>Modification</th>
            </tr>
            </thead>
            <tbody id="shareBodyTable">
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat">Ok</button>
    </div>
</div>